<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Registro Appelli</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="css/visualizzaAppelli.css">
    <link rel="stylesheet" href="css/creaAppello.css">
    <link rel="stylesheet" href="/css/appello.css">
    <link rel="stylesheet" href="/css/updateEsame.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>    
</head>

<body>
    <div id="c-navbar">
        <nav>
            <h2 id="logo"> Programming
                <box-icon name='game' animation='tada' color='#f7444e'></box-icon>
            </h2>
            <ul id="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/visualizzaAppelli">Visualizza Appelli</a></li>
                <li><a href="/creaAppello">Crea Appello</a></li>
                <li><a href="/tesisti">Tesisti</a></li>
                <li><a href="/progettisti">Progettisti</a></li>
            </ul>
        </nav>
    </div>