<%- include ("includes/_header.ejs") %>
<div id="containerAppello">
    <h1>Appello</h1>
    <% if(typeof errorMsg !== 'undefined'){ %>
        <p id="msgError"><%= errMsg %></p>    
    <% } %>
    <div id="divFormAppello">
        <form id="formAppello" enctype="multipart/form-data">
            <div>
                <b>Studenti prenotati (csv): </b>
                <input type="file" name="fileCSV" id="fileCSV" accept=".csv" required>
            </div>
            <div>
                <b>Esiti (csv): </b>
                <input type="file" name="fileCSV" id="file2" accept=".csv" required>
            </div>
            <div>
                <input type="button" name="sbmt" id="sbmtCSV" value="Invia" onclick="sendFile()">
            </div>
        </div>

    <div id="tableAppello_container">
        <table>
            <thead id="thead">
                <tr class="trAppello">
                    <th>ID</th>
                    <th>Matricola</th>
                    <th>Scritto</th>
                    <th>Max</th>
                    <th>Voto Scritto(Max 22)</th>
                    <th>Formula</th>
                    <th>Orale</th>
                    <th>Laboratorio</th>
                    <th>Voto_Complessivo</th>
                    <th>Stato</th>
                </tr>  
            </thead>
            <tbody class="tbodyAppello">
                
            </tbody>
        </table>
    </div>
    <div id="csvTable">

    </div>
</div>

<%- include ("includes/_footer.ejs") %>
