<%- include ("includes/_header.ejs") %>
<div class="container2">
    <h1>Modifica Appello</h1>
    <form method="POST" id="formAddAppello" class="updateAppello">
        <div id="compile">
            <label for="nomeApello" class="labelCreateAppello">
                <span>ID Appello:</span> 
                <input type="number" name="idAppello" id="nomeAppello" value="<%= appello[0].idAppello %>" readonly>
            </label>
            <label for="nomeApello" class="labelCreateAppello">
                <span>Nome Appello:</span> 
                <input type="text" name="nomeAppello" id="nomeAppello" placeholder="Inserisci nome" value="<%= appello[0].nomeAppello %>" required>
            </label>
            <div id="btn_sbmt">
                <input type="submit" name="submitData" id="submitData" value="Invia">
            </div>
        </div>
    </form>
</div>
<%- include ("includes/_footer.ejs") %>
