#containerAppello{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 30px;
    margin-top: 30px;
}

h1{
    color: #f7f8f3;
    font-size: 60px;
    justify-self: center;
    align-self: center;
}

#divFormAppello{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#formAppello{
    border: 2px solid #f7f8f3;
    padding: 30px;
    border-radius: 10px;
    color: #f7f8f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#formAppello div{
    padding-top: 30px;
}

#formAppello>div b{
    margin-right: 20px;
    font-size: large;
    color: #FCB91C;
}

#formAppello :last-child input{
    background-color: transparent;
    border: 2px solid #FCB91C;
    padding: 10px;
    color: #f7f8f3;
    font-size: large;
    border-radius: 5px;
}

#tableAppello_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    justify-self: center;
    align-self: center;
    grid-row-start: 3;
}

table{
    width: 100%;
}

#thead .trAppello{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    color: #f7f8f3;
}

#tbodyAppello tr, #thead tr{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    height: 50px;
    font-size: 20px;
    color: #f7f8f3;
    border: 2px solid #FCB91C;
}

#thead tr th{
    justify-self: center;
    align-self: center;
}

#tbodyAppello tr td{
    justify-self: center;
    align-self: center;
}

.fontSize15{
    font-size: 15px;
}
